/* ---------------------------------------------------|INFO|-------------------------------------------------- */

/* Creadted By CYAN 1403/07/29 */

/* ---------------------------------------------------|ROOT|-------------------------------------------------- */

:root{
    --main_color: #d49100;
    --sub_color: #e66300;
    --gray_color: #525252;
    --light_color: #edebe4;
    --white_color: #f9f7f3;
    --black_color: ##0d0d0c;
    --font_style: "Dirooz", sans-serif;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

.clearfix::after, .clearfix::before {
    content: "";
    clear: both;
    display: block;
}

@font-face {
    font-family: "Dirooz";
    src: url(../fonts/dirooz.ttf) format("truetype"),
    url(../fonts/dirooz.woff) format("woff"),
    url(../fonts/dirooz.woff2) format("woff2");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.btn {
    background: var(--clr-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    color: var(--clr-white);
    transition: var(--transition);
    display: inline-block;
}

.btn:hover {
    background-color: var(--sub_color);
    color: var(--white_color);
    outline: 0.125rem solid var(--sub_color);
    outline-offset: 0.25rem;
}

.title{
    color: var(--sub_color);
    padding: 10px;
}

.text {
    color: var(--gray_color);
    padding: 10px;
}

.section-center {
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

/* -----------------------------------------------|RESPONSICE|------------------------------------------------ */

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

@media screen and (min-width: 800px) 
{
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.25rem;
    }
}

/* ---------------------------------------------------|BODY|-------------------------------------------------- */

body{
    font-family: var(--font_style);
    background-color: var(--white_color);
    font-size: 1rem;
    text-align: right;
    direction: rtl;
}

/* --------------------------------------------------|HEADER|------------------------------------------------- */

.header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../images/images/Header_Image.jpg) center/cover no-repeat fixed;
    position: relative;
}

.header_section{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white_color);
    transform: translate(-50%, -50%);
    text-align: center;
}

.header_button{
    background-color: var(--main_color);
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius);
    color: var(--white_color);
    transition: var(--transition);
}

.header_button:hover{
    background-color: var(--sub_color);
    color: var(--white_color);
    outline: 0.125rem solid var(--sub_color);
    outline-offset: 0.25rem;
}

.header h1{
    color: var(--main_color);
    margin-bottom: 2rem;
}

.header h2{
    color: var(--white_color);
    margin-bottom: 3rem;
}

.header_divider{
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(to left,var(--main_color), var(--sub_color), var(--main_color));
    position: absolute;
    bottom: 0;
}

/* ------------------------------------------------|FEATURES|----------------------------------------------- */

.feature{
    background: var(--light_color);
    /* display: flex;
    width: 100%; */

}

.feature_part1, .feature_part2, .feature_part3, .feature_part4 {
    text-align: center;
    height: 260px;
    padding: 2.5rem 0;
    transition: var(--transition);
    width: 25%;
}

.feature_part1:hover, .feature_part2:hover, .feature_part3:hover, .feature_part4:hover {
    background: var(--white_color);
    box-shadow: 0 5px 0 var(--main_color);
    transform: translateY(-2px);
    border: solid 1px var(--main_color);
}


.feature_part1_icon, .feature_part2_icon, .feature_part3_icon, .feature_part4_icon {
    font-size: 2rem;
    color: var(--main_color);
    margin-bottom: 1.25rem;
    display: inline-block;
    transition: var(--transition);
}

.feature_part1_title, .feature_part2_title, .feature_part3_title, .feature_part4_title {
    margin-bottom: 1rem;
    padding: 10px;
    font-size: medium;
}

.feature_part1_text, .feature_part2_text, .feature_part3_text, .feature_part4_text {
    color: var(--gray_color);
    max-width: 17rem;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.9rem;
}


@media screen and (min-width: 576px) {
    .feature_part1, .feature_part2, .feature_part3, .feature_part4 {
        float: right;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .feature_part1, .feature_part2, .feature_part3, .feature_part4 {
        float: right;
        width: 25%;
    }
}

/* ---------------------------------------------------|ABOUT|-------------------------------------------------- */

.about_article1, .about_article2 {
    padding: 2rem 0;
}

.about_div_image {
    background: var(--main_color);
    max-width: 32rem;
    border: 0.3rem solid var(--main_color);
    border-radius: var(--radius);
    overflow: hidden;
    padding: 15px;
}

.about_image{
    transition: var(--transition);
    border-radius: var(--radius);
}

.about_div_image:hover .about_image {
    opacity: 0.8;
    transform: scale(1.05);
}

.about_text {
    color: var(--gray_color);
}

.about_button {
    margin-top: 1.5rem;
    background-color: var(--main_color);
}

@media screen and (min-width: 992px) {
    .about_article1 {
        float: left;
        width: 50%;
    }

    .about_article2 {
        float: right;
        width: 50%;
    }
}
